@import core
$blue = #009BE0;


*
  margin 0
  padding 0
  box-sizing border-box
  font inherit
  color inherit
  text-decoration inherit


html, body
  height 100%
  background #000
  overflow hidden

html
  color #fff

[hidden]
  display none !important

[flex]
  flex 1

[\\\(click\\\)]
  cursor pointer

video-background-list
  layer()
  display block

  .number
    layer()
    top auto
    bottom 20px
    height 50px
    z-index 99999
    hbox()
    color #fff

    > div
      width 50px
      height 50px
      display flex
      font-size 20px
      font-weight bold

      > *
        margin auto

      &.selected
        color $blue

  .track
    layer()
    top auto
    height 2px
    background #fff

    .progress
      layer()
      right auto
      width 62%
      background $blue
      transition width 0.3s linear


video-background
  layer()
  display block

  > iframe
    width: 100vw;
    height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

.ui-top-app-bar
  position relative
  hbox()
  padding 24px
  z-index 9999999

  .menu
    padding 0 12px
    font-style italic
