@import core

$border-color = rgba(0, 0, 0, .2)


*
  margin 0
  padding 0
  color inherit
  font inherit

html
  font-size 14px

body
  font-size 14px
  font-weight 400
  line-height 1.62

[flex]
  flex 1

[hbox]
  hbox()

[hbox="stretch"]
  hbox(stretch)


.contenteditable
  white-space pre-wrap
  outline 0
  text-align justify

  img
    display block
    max-width 100%
    margin auto
    width auto
    height auto

app-editor
  vbox()
  layer()

app-editor-content
  display flex
  background #f1f1f1

  > div
    width 392px
    min-height 259px
    max-height 670px
    margin auto
    background #fff
    outline 0
    padding 1rem
    overflow-y scroll
    white-space pre-wrap


a
  font inherit
  text-decoration inherit

a[tag="h1"]
  font-size 20px
  font-weight bold

a[tag="h2"]
  font-size 12px
  font-weight bold
  opacity: 0.68

a[tag="strong"]
  font-weight bold

a[tag="em"]
  text-decoration underline

a[tag="del"]
  text-decoration line-through

a[tag="mark"]
  background yellow


app-editor-toolbar
  hbox()
  height 50px
  bottom auto
  z-index 100
  background #fff
  border-bottom 1px solid $border-color
  padding 0 32px

  h1
    font-size 20px
    font-weight bold

.text-markup
  width 210px
  background #fff
  border-left 1px solid $border-color

  > div
    hbox()
    padding 0.62em 1.38em

    //&:hover
    //  background rgba(0, 0, 0, .032)

    a
      flex 1
    span
      display block
      font-style 12px
      color #aaa


///
.doro-top-mark
  display block
  layer()
  height 10px
  bottom auto
  background-image: linear-gradient(101deg, #1dd8d1, #33a1ff);


.doro-mock
  vbox()
  background #202329
  margin auto
  width 414px
  height 100%

.doro-tip
  vbox()
  position relative
  width 392px
  margin auto
  background #fff
  outline 0
  white-space pre-wrap
  border-radius: 8px;
  box-shadow: 0 9px 10px 0 rgba(0, 0, 0, 0.46);
  padding 32px 0
  overflow hidden

  .contenteditable
    background #fff
    margin-top 10px
    padding 0 32px
    min-height 259px
    max-height 670px
    overflow-y scroll


.tip-list
  width 340px
  background #fff
  border-right 1px solid $border-color

  li
    padding 1em 1.38em
    border-bottom 1px solid $border-color
    &[selected]
      font-weight bold
      background rgba(0, 0, 0, .032)