@import core

[hidden] {
  display none !important
}

*
  font inherit
  box-sizing border-box
  margin: 0;
  padding: 0;

html, body
  background: #f1f1f1;
  height 100%

body
  display: flex
  font-family "Apple SD Gothic Neo", 'Noto Sans KR', "Noto Sans CJK KR", "Helvetica Neue", 'dotum', sans-serif;
  font-weight 200


main
  display: flex;
  position relative
  flex-direction: column;
  height: 100%;
  margin auto
  background #fff

  content
    display block
    width 100%
    height 100%
    overflow hidden
    transform translate3d(0, 0, 0)

    background url("../imgs/bg1.png") no-repeat 0 100%
    background-size contain

+tablet-and-desktop()
  body
    background #fafafa

  main
    width: 375px;
    height: 667px;
    border-radius: 36px;
    box-shadow: 0 0 32px rgba(0, 0, 0, .2), 0 12px 24px rgba(0, 0, 0, .5)
    box-sizing content-box
    border 16px solid #111
    border-top-width 60px
    border-bottom-width 60px

    &:before {
      content: '';
      display: block;
      width: 60px;
      height: 5px;
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translate(-50%, -50%);
      background: rgba(255, 255, 255, .2)
      border-radius: 10px;
    }


///
flex, [flex] {
  flex: 1;
}

[hbox] {
  display flex
}

[vbox] {
  display flex
  flex-direction column
}


flex
  display flex


ai-app
  display flex
  margin: auto;
  width 100%
  height 100%
  background: #fff
  overflow hidden
  position relative

  > section
    display flex
    width 100%
    height 100%

h1 {
  text-align: center;
  font-size 32px

}

divider
  display block
  height 0
  border-top 1px solid #ccc


header
  padding 0 16px


.prev-msg
  padding 16px
  font-size 16px
  position absolute
  top 0
  font-style italic
  width 100%

.msg
  position absolute
  text-align left;
  padding 16px
  color #ccc
  width 100%
  font-size 32px
  font-weight 200
  top 50%
  transform-origin 0 0
  transform translate(0, -50%)

  &.me
    top 50%
    width 100%
    margin auto
    text-align right
    transform-origin 100% 50%
    transform translate(0, -50%)
    color #ccc

    &.isfinal
      color #000


cursor
  display inline-block
  height 1em
  border-right 2px solid #000


@keyframes blink {
  50% {
    opacity: 0.0;
  }
}

@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}

.blink {
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
}


.hint
  width 100%
  display block
  text-align center
  font-size 18px
  color #ccc


mic-wave
  display flex
  position absolute
  bottom 0px
  width 100%
  height 78px;
  //height 50%
  //margin-top -75px
  z-index 0

  section
    display flex
    margin auto

    div
      background #999
      width 8px
      height 8px
      border-radius 8px
      margin auto 6px


@keyframes updown {
  from {
    transform translate(0, -6px)
  }

  to {
    transform translate(0, 6px)
  }
}


[state="listen"]
  .c1 {
    animation updown linear 0.5s infinite alternate
  }

  .c2 {
    animation updown linear 0.5s infinite alternate-reverse
  }


wait-dots
  display inline-block
  vertical-align middle
  line-height 1

  > section
    hbox()
    background #eee
    padding 8px
    height 30px
    border-radius 15px

    > div
      display flex
      vertical-align middle
      width 8px;
      height 8px;
      border-radius 8px
      background #999
      margin 0 2px;

  .wd1
    animation wait-dots linear 1s infinite

  .wd2
    animation wait-dots2 linear 1s infinite

  .wd3
    animation wait-dots3 linear 1s infinite


@keyframes wait-dots {
  0% {
    transform translate(0, 0)
    opacity 1
  }

  25% {
    transform translate(0, -4px)
    opacity 0.5
  }

  75%, 100% {
    transform translate(0, 0)
    opacity 1
  }
}

@keyframes wait-dots2 {
  0%, 25% {
    transform translate(0, 0)
    opacity 1
  }

  50% {
    transform translate(0, -4px)
    opacity 0.5
  }

  75%, 100% {
    transform translate(0, 0)
    opacity 1
  }
}

@keyframes wait-dots3 {
  0%, 50% {
    transform translate(0, 0)
    opacity 1
  }

  75% {
    transform translate(0, -4px)
    opacity 0.5
  }

  100% {
    transform translate(0, 0)
    opacity 1
  }
}


//[state="listen"]
//.d1 {
//  animation updown linear 0.5s infinite alternate
//}
//
//.d2 {
//  animation updown linear 0.5s infinite alternate-reverse
//}
//
//.d3 {
//  animation updown linear 0.5s infinite alternate-reverse
//}


mic-wave
  .d1, .d2, .d3
    display flex
    border-radius 50%
    width 64px
    height 64px
    background rgba(0, 0, 0, .05)
    box-shadow 0 0 10px rgba(0, 0, 0, .05)
    margin auto

  .d2
    width 90%
    height 90%

  .d3
    width 90%
    height 90%


ai-message
  display block




ui-speech-to-text
  display flex
  margin auto
  width 100%
  height 100%
  overflow hidden



.msg
  color #000
  top 50%
  transform-origin 0 0
  transform translate(0, -50%)

  &[who="me"]
    transform-origin 100% 0
    text-align right

  &[state="done"]
    transition top 1s, transform 1s
    top 0
    transform translate(0, 0) scale(0.6)

  &[state="prev"]
    transition top 1s, transform 1s
    top 0
    transform translate(0, -100%) scale(0.6)



.hints
  position relative
  overflow hidden
  margin-top 16px

  .hint
    background #fff
    //animation fade 1s infinite

  .hint2
    position absolute
    top 0
    //animation fade2 1s infinite


@keyframes fade {
  from {
    transform translate3d(0,0,0)
    opacity 1
  }

  to {
    transform translate3d(0,-100%,0)
    opacity 0
  }
}


@keyframes fade2 {
  from {
    transform translate3d(0,100%,0)
    opacity 0
  }

  to {
    transform translate3d(0,0,0)
    opacity 1
  }
}

.tts-word
  display inline-block
  white-space pre-wrap
  transition all 0.5s
  opacity 0
  transform translate3d(15px,0,0)

.tts-word-animation
  opacity 1
  transform translate3d(0,0,0)
