@import core

[hidden] {
  display none !important
}

*
  font inherit
  box-sizing border-box
  margin: 0;
  padding: 0;

html, body
  background: #f1f1f1;
  height 100%

body
  display: flex
  font-family "Apple SD Gothic Neo", 'Noto Sans KR', "Noto Sans CJK KR", "Helvetica Neue", 'dotum', sans-serif;
  font-weight 200


ai-app
  display block
  margin: auto;
  background: #fff;

  +tablet-and-desktop()
    width: 375px;
    height: 667px;
    padding: 48px 15px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 30px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .1);
    box-sizing content-box

  +mobile()
    width 100%
    height 100%

  main
    display: flex;
    position relative
    flex-direction: column;
    border: 1px inset rgba(0, 0, 0, .2);
    height: 100%;
    overflow-y: scroll;

    > section
      flex 1;
      display: flex;
      flex-direction: column
      position relative
      z-index 1


flex, [flex] {
  flex: 1;
}

[hbox] {
  display flex
}

[vbox] {
  display flex
  flex-direction column
}


flex
  display flex

h1 {
  text-align: center;
  font-size 32px

}

divider
  display block
  height 0
  border-top 1px solid #ccc


header
  padding 0 16px


.prev-msg
  padding 16px
  font-size 16px
  position absolute
  top 0
  font-style italic
  width 100%

.msg
  text-align left;
  padding 16px
  color #ccc
  width 100%
  font-size 32px
  font-weight 200
  transform-origin 0 0
  top 100px
  position absolute

  &.isfinal
    color black

  &.me
    top 50%
    width 100%
    margin auto
    text-align right
    transform-origin 100% 50%
    transform translate(0, -50%)

cursor
  display inline-block
  height 1em
  border-right 2px solid #000


@keyframes blink {
  50% {
    opacity: 0.0;
  }
}

@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}

.blink {
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
}


.hint
  width 100%
  display block
  text-align center
  font-family monospace
  font-size 16px
  color #ccc


mic-wave
  display flex
  position absolute
  bottom 0px
  width 100%
  height 78px;
  //height 50%
  //margin-top -75px
  z-index 0

  section
    display flex
    margin auto

    div
      background #999
      width 8px
      height 8px
      border-radius 8px
      margin auto 6px


@keyframes updown {
  from {
    transform translate(0, -6px)
  }

  to {
    transform translate(0, 6px)
  }
}


[state="listen"]
  .c1 {
    animation updown linear 0.5s infinite alternate
  }

  .c2 {
    animation updown linear 0.5s infinite alternate-reverse
  }


wait-dots
  display inline-block
  vertical-align middle
  line-height 1

  > section
    hbox()
    background #eee
    padding 8px
    height 30px
    border-radius 15px

    > div
      display flex
      vertical-align middle
      width 8px;
      height 8px;
      border-radius 8px
      background #999
      margin 0 2px;

  .wd1
    animation wait-dots linear 1s infinite

  .wd2
    animation wait-dots2 linear 1s infinite

  .wd3
    animation wait-dots3 linear 1s infinite


@keyframes wait-dots {
  0% {
    transform translate(0, 0)
    opacity 1
  }

  25% {
    transform translate(0, -4px)
    opacity 0.5
  }

  75%, 100% {
    transform translate(0, 0)
    opacity 1
  }
}

@keyframes wait-dots2 {
  0%, 25% {
    transform translate(0, 0)
    opacity 1
  }

  50% {
    transform translate(0, -4px)
    opacity 0.5
  }

  75%, 100% {
    transform translate(0, 0)
    opacity 1
  }
}

@keyframes wait-dots3 {
  0%, 50% {
    transform translate(0, 0)
    opacity 1
  }

  75% {
    transform translate(0, -4px)
    opacity 0.5
  }

  100% {
    transform translate(0, 0)
    opacity 1
  }
}


//[state="listen"]
//.d1 {
//  animation updown linear 0.5s infinite alternate
//}
//
//.d2 {
//  animation updown linear 0.5s infinite alternate-reverse
//}
//
//.d3 {
//  animation updown linear 0.5s infinite alternate-reverse
//}


mic-wave
  .d1, .d2, .d3
    display flex
    border-radius 50%
    width 100px
    height 100px
    background rgba(0, 0, 0, .1)
    box-shadow 0 0 10px rgba(0, 0, 0, .1)
    margin auto

  .d2
    width 75%
    height 75%

  .d3
    width 50%
    height 50%
