[hbox] {
  display: flex;
  flex-direction: row;
  align-items: center;
}
[flex] {
  flex: 1;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}
body {
  font-family: "Apple SD Gothic Neo", 'Noto Sans KR', "Noto Sans CJK KR", "Helvetica Neue", sans-serif;
}
space {
  display: block;
  visibility: hidden;
}
[color=black] {
  color: #2f2f2f;
}
[color=orange] {
  color: #ffaa21;
}
[color=green] {
  color: #29be9b;
}
[color=gray-dark] {
  color: #818181;
}
html {
  background: #e2e2e2;
  font-size: 11px;
}
body {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.062em;
  font-weight: bold;
  width: 414px;
  margin: auto;
  color: #2f2f2f;
}
body > * {
  margin: 1.62rem 0;
}
body > h1 {
  font-size: 32px;
  color: #202329;
  margin: 1em 0;
  margin-top: 5rem;
}
space[size="safe-zone"] {
  padding: 24px 24px 0 0;
}
space[size="gap"] {
  padding: 24px 24px 0 0;
}
space[size="1"] {
  padding: 1rem 1rem 0 0;
}
space[size="2"] {
  padding: 2rem 3rem 0 0;
}
space[size="3"] {
  padding: 3rem 3rem 0 0;
}
doro-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 1rem;
}
doro-btn > * {
  margin: auto;
}
doro-btn.navigation-icon {
  min-width: 62px;
  height: 100%;
}
doro-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  min-width: 4rem;
  padding: 1rem;
}
doro-icon > * {
  margin: auto;
}
doro-dividor {
  border-bottom: 1px solid #dedede;
}
doro-header,
doro-footer {
  display: block;
  width: 414px;
  box-shadow: 0 10px 6px 0 rgba(0,0,0,0.16);
  background-image: linear-gradient(102deg, #1dd87b, #11cbc4);
  color: #fff;
}
doro-header > header,
doro-footer > header {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 5rem;
}
doro-header h1,
doro-footer h1 {
  font-size: 18px;
}
doro-header p,
doro-footer p {
  font-size: 14px;
  padding: 0 17px;
  text-align: center;
  margin: auto;
}
doro-header[theme="dark"],
doro-footer[theme="dark"] {
  opacity: 0.95;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.16);
  background-image: linear-gradient(102deg, #393a41, #2f2f34);
}
input.doro-input {
  width: 255px;
  height: 40px;
  border-radius: 0.7em;
  box-shadow: 0 5px 6px 0 rgba(0,0,0,0.05);
  background-color: #fff;
  font-size: 14px;
  color: #979797;
  padding: 1.38em;
}
doro-todo {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 55px;
}
doro-todo .km {
  flex: 1;
  font-size: 13px;
  line-height: 1.46;
  letter-spacing: -0.78px;
  color: #ffaa21;
  padding: 0 11px;
}
doro-todo .todo {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
  width: 317px;
  height: 100%;
  object-fit: contain;
  border-radius: 4px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.27);
  background-image: linear-gradient(125deg, #ef6837, #ffaa21);
  padding-right: 11px;
  overflow: hidden;
}
doro-todo .todo .icon {
  display: flex;
  width: 42px;
  height: 100%;
  text-align: center;
}
doro-todo .todo .icon > * {
  margin: auto;
}
doro-todo .todo .icon svg {
  width: 16px;
  height: 18px;
}
doro-todo .todo h1 {
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.84px;
  color: #fffcfc;
  padding: 0 7px;
}
doro-todo .todo h2 {
  opacity: 0.9;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.72px;
  text-align: right;
}
doro-todo .toast {
  display: flex;
  width: 295px;
  height: 30px;
  object-fit: contain;
  border-radius: 20px;
  background-image: linear-gradient(99deg, #1dd8d1, #33a1ff);
  font-size: 13px;
  line-height: 1.46;
  letter-spacing: -0.78px;
  color: #fff;
  text-align: center;
}
doro-todo .toast > * {
  margin: auto;
}
doro-todo[type="outline"] .todo {
  background: transparent;
  border: 1px solid #ff9d00;
  border-left: 0;
}
doro-todo[type="outline"] .icon {
  background-image: linear-gradient(125deg, #ef6837, #ffaa21);
}
doro-todo[type="outline"] h1,
doro-todo[type="outline"] h2 {
  color: #2f2f2f;
}
doro-todo[type="white"] .todo {
  background: #fff;
}
doro-todo[type="white"] .icon {
  color: #ff9d00;
}
doro-todo[type="white"] .icon svg * {
  fill: #ff9d00;
}
doro-todo[type="white"] h1,
doro-todo[type="white"] h2 {
  color: #2f2f2f;
}
doro-todo[type="warn"] .km {
  color: #818181;
}
doro-todo[type="warn"] .todo {
  background-image: linear-gradient(109deg, #ff628c, #e04d39);
}
doro-log-date {
  display: block;
  font-size: 18px;
  text-align: right;
  color: #fff;
  margin-bottom: 1rem;
}
doro-log {
  display: flex;
  flex-direction: row;
  align-items: center;
}
doro-log .km {
  flex: 1;
  font-size: 13px;
  line-height: 1.46;
  letter-spacing: -0.78px;
  color: #ffaa21;
  padding: 0 11px;
  align-self: flex-end;
}
doro-log .log {
  width: 317px;
  border-radius: 4px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.27);
  background-color: #fff;
  padding: 24px 11px;
}
doro-log .log > section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 11px 0;
}
doro-log .log .icon {
  width: 48px;
}
doro-log .log h2 {
  color: #29be9b;
}
doro-log .log h3 {
  opacity: 0.3;
  font-size: 12px;
  line-height: 1.42;
  letter-spacing: -0.72px;
  text-align: right;
}
doro-tip,
doro-report {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  width: 392px;
  object-fit: contain;
  box-shadow: 0 9px 10px 0 rgba(0,0,0,0.46);
  background-color: #fff;
  margin: auto;
  border-radius: 3px;
  overflow: hidden;
}
doro-tip .top,
doro-report .top {
  height: 10px;
  background-image: linear-gradient(101deg, #1dd8d1, #33a1ff);
}
doro-tip > section,
doro-report > section {
  flex: 1;
  padding: 44px 46px;
}
doro-tip > section h1,
doro-report > section h1 {
  font-size: 20px;
  line-height: 1;
  letter-spacing: -1.2px;
  color: #2f2f2f;
}
doro-tip > section h2,
doro-report > section h2,
doro-tip > section p,
doro-report > section p {
  font-size: 13px;
  line-height: 1.54;
  letter-spacing: -0.78px;
}
doro-tip > section h2,
doro-report > section h2 {
  margin-bottom: 5px;
}
doro-tip > section space,
doro-report > section space {
  height: 31px;
}
doro-report {
  text-align: center;
}
doro-report h2 {
  font-family: Roboto;
  font-size: 13px;
  color: #29be9b;
}
doro-report > section {
  padding: 44px 0;
}
doro-report .top {
  background-image: linear-gradient(101deg, #14ffa4, #11cbc4);
}
doro-report .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
doro-report .grid > div {
  padding: 11px;
}
doro-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  padding: 0 37px;
}
doro-bar[type="black"] {
  width: 414px;
  height: 60px;
  object-fit: contain;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1);
  background-image: linear-gradient(99deg, #393a41, #2f2f34);
  color: #fff;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.72px;
  text-align: center;
}
doro-para {
  display: block;
  width: 340px;
  margin: auto;
  border-radius: 4px;
  background-color: #fcfcfc;
  padding: 33px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.72px;
}
doro-big-date {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
  border: solid 1px #efefef;
}
doro-big-date h1 {
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: center;
  color: #4a4e52;
  margin: auto;
}
doro-title {
  display: block;
  height: 126px;
  object-fit: contain;
  padding: 0 3.38rem;
}
doro-title h1 {
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 50px;
}
doro-input-field {
  display: block;
  height: 77px;
  border: solid 1px #ededed;
  padding: 0 3.38rem;
}
doro-input-field h1 {
  font-size: 14px;
}
doro-check-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 44px;
  border: solid 1px #f5f5f5;
  background-color: #fff;
  padding: 0 3.38rem;
}
doro-check-field h1 {
  font-size: 14px;
}
doro-check-field h2 {
  color: #29be9b;
}
doro-section {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  padding: 1rem 3.38rem;
}
doro-page > * {
  margin: 1.62rem 0;
  border: solid 1px #ededed;
}
doro-graph {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  background: #fff;
  min-height: 10rem;
  padding: 0 3.38rem;
}
doro-dl-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 3.38rem;
}
doro-datetime {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 3.38rem;
}
doro-background-menu {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  background: #262b35;
  padding: 4.38rem;
}
doro-background-menu doro-background-menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  border: 2px solid #fff;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.27);
  min-height: 4.38rem;
  color: #fff;
  margin: 1rem 0;
}
doro-background-menu doro-background-menu-item > * {
  margin: auto;
}
doro-background-menu doro-background-menu-item > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
doro-background-menu doro-background-menu-item > div > * {
  margin: auto;
}
doro-splash {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  text-align: center;
  background: #fff;
  padding: 7rem;
}
doro-splash h1 {
  font-size: 20px;
}
doro-page-indicagtor {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}
doro-page-indicagtor > div {
  border: 1px solid #dedede;
  border-radius: 50%;
  width: 0.8rem;
  height: 0.8rem;
  margin: 0 0.19rem;
}
doro-page-indicagtor > div[selected] {
  background: #29be9b;
  border-color: #29be9b;
}
doro-youtube-header {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  background: #fff;
  min-height: 3rem;
  padding: 3rem 3.38rem;
}
doro-youtube-header h1 {
  font-size: 20px;
}
doro-youtube-header p {
  font-size: 13px;
}
doro-youtube-header > section {
  display: flex;
  flex-direction: row;
  align-items: center;
}
doro-youtube-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  padding: 2rem 3.38rem;
}
doro-youtube-item doro-youtube-thumbnail {
  display: flex;
  flex-direction: row;
  align-items: center;
}
doro-youtube-item doro-youtube-thumbnail > div {
  width: 162px;
  background: url("../imgs/yu_sample.jpg") no-repeat center center;
  background-size: cover;
  border-radius: 3px;
  overflow: hidden;
}
doro-youtube-item doro-youtube-thumbnail > div:before {
  content: " ";
  display: block;
  padding-top: 56.25%;
}
doro-youtube-item h2,
doro-youtube-item h3 {
  text-align: right;
  font-size: 12px;
  color: #979797;
}
doro-youtube-item h3 {
  color: #6d6d6d;
}
doro-comment {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  padding: 1rem 1.38rem;
}
doro-comment > section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1.38rem 2rem;
  border-radius: 4px;
  box-shadow: 1px 2px 6px 0 rgba(0,0,0,0.03);
  border: solid 1px #dedede;
  background-color: #fff;
}
doro-comment > section doro-avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 3rem;
  border: 1px solid #dedede;
  background: #29be9b;
  border-radius: 50%;
  margin-right: 1rem;
}
doro-comment > section doro-avatar:before {
  content: " ";
  display: block;
  padding-top: 100%;
}
doro-comment > section h2 {
  font-weight: normal;
}
doro-comment > section p {
  font-size: 13px;
}
