* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  font: inherit;
  user-select: none;
  -webkit-user-select: none;
}
html,
body {
  height: 100%;
}
html {
  background: #f0f0f0;
}
body {
  font-family: "Apple SD Gothic Neo", 'Noto Sans KR', "Noto Sans CJK KR", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: #fff;
}
body {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  background: #20242a;
  margin: auto;
  width: 400px;
}
[flex] {
  flex: 1;
}
main {
  flex: 1;
}
main ui-scrollview {
  height: 8000%;
  background: #20242a;
}
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  width: 400px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  height: 96px;
  background: #20242a url("../imgs/footer.png") no-repeat;
  background-size: contain;
  border-top: 1px solid #ffa500;
  z-index: 999999;
}
ui-scrollview {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  position: relative;
}
section.kms {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
section.kms h1 {
  position: absolute;
  font-size: 54px;
  font-weight: 600;
  color: #ccc;
  opacity: 0.2;
  left: 0;
  right: 0;
  margin-bottom: -70px;
  text-align: right;
  letter-spacing: -0.05em;
  margin-right: 8px;
}
section.line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 42px;
  width: 6px;
  background-image: linear-gradient(rgba(255,255,255,0.2) 60%, rgba(255,255,255,0) 0%);
  background-position: right;
  background-size: 6px 72px;
  background-repeat: repeat-y;
  z-index: 0;
}
section.todo {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, 24px 1fr 24px);
  grid-template-rows: auto;
  left: 0;
  right: 0;
}
section.todo .icon {
  grid-column-start: 2;
  grid-column-end: 3;
}
section.todo .icon > div {
  width: 40px;
  margin: auto;
  position: relative;
  white-space: nowrap;
  text-align: center;
}
section.todo .icon > div:before {
  content: " ";
  display: block;
  padding-top: 100%;
}
section.todo .icon > div > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
section.todo .icon > div > svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
section.todo .date {
  grid-column-start: 4;
  grid-column-end: 8;
}
section.todo .km {
  grid-column-start: -5;
  grid-column-end: -2;
  text-align: right;
}
section.todo .km-left {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
}
section.todo .box {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-column-start: 4;
  grid-column-end: -1;
  padding: 12px 24px 12px 12px;
  background: #353535;
  border-radius: 8px 0 0 8px;
  color: #fff;
  font-size: 12px;
}
section.todo .box h1 {
  grid-column-start: 4;
  grid-column-end: -2;
  margin-left: 12px;
  position: relative;
}
section.todo .box p {
  text-align: right;
  font-size: 10px;
  color: #999;
}
section.todo[new] h1 {
  color: #ffa500;
}
section.log {
  position: relative;
  grid-template-rows: 32px 32px minmax(50px, auto);
}
section.log .icon {
  grid-column-start: 1;
  grid-column-end: 3;
}
section.log .box {
  border-radius: 0 0 0 0;
}
section.log .body {
  background: #2f2f2f;
  grid-column-start: 4;
  grid-column-end: -1;
  padding: 16px 24px;
  font-size: 12px;
  border-radius: 0 0 0 8px;
}
section.log .body h1 {
  font-size: 16px;
}
section.log .memo {
  margin-top: 16px;
  opacity: 0.5;
}
section.current-line {
  position: relative;
  height: 60px;
  left: 0;
  right: 0;
  border-top: 1px solid #ffa500;
  z-index: 9999;
}
section.current-line .km {
  position: absolute;
  left: 0;
  bottom: 100%;
  text-align: right;
  color: #ffa500;
  background: #20242a;
  padding: 8px;
  height: 24px;
  margin-bottom: -6px;
  margin-left: 12px;
  white-space: nowrap;
}
section.current {
  position: fixed;
  bottom: 96px;
  width: 400px;
  height: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999999;
  padding-top: 16px;
}
section.current section.todo {
  grid-template-rows: auto;
}
section.current section.todo .box {
  position: relative;
  background-color: #fff;
  color: #000;
  grid-column-start: 4;
  grid-column-end: -3;
  border-radius: 8px;
}
section.current section.todo .box .tri {
  position: absolute;
  right: 100%;
}
.tri {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 8px 4px 0;
  border-color: transparent #fff transparent transparent;
}
@media (max-width: 767px) {
  html,
  body {
    background: #20242a;
  }
  body,
  section.current,
  section.current-line,
  footer {
    width: 100%;
  }
}
section.logs {
  position: absolute;
  left: 0;
  right: 0;
  top: 60%;
  background: #20242a;
  border-bottom: 1px solid #ccc;
  z-index: 99999;
}
section.logs section.line {
  position: absolute;
  top: 380px;
  bottom: 0;
  left: 80px;
  width: 6px;
  background: none;
  border-right: 1px solid #ccc;
  z-index: 0;
}
.day {
  position: relative;
  margin-top: 50px;
}
.day h1 {
  position: relative;
  z-index: 100;
  text-align: right;
  font-size: 28px;
}
.day h1 span {
  padding: 13px;
}
.day .hline {
  position: absolute;
  border-bottom: 2px solid rgba(255,255,255,0.3);
  top: 50%;
  left: 0;
  right: 0;
}
.report {
  position: relative;
  border: 2px solid #ccc;
  background: #00f;
  border-radius: 8px;
  padding: 24px;
  text-align: center;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: 4px;
}
.report h2 {
  border-radius: 20px;
  padding: 10px 20px;
  background: #999;
  color: #fff;
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
}
.report >section {
  width: 33.33%;
  margin: 16px 0;
}
.report >section h1 {
  font-size: 12px;
  margin-bottom: 12px;
  color: #ccc;
}
.report >section div {
  font-size: 18px;
}
.tip {
  bottom: 31%;
  position: absolute;
  background: #5ab75f;
  padding: 20px;
  left: 80px;
  border-radius: 16px;
  border: 2px solid #fff;
  right: 8px;
}
.tip h1 {
  font-size: 18px;
  margin-bottom: 12px;
}
.unknown {
  position: absolute;
  color: #fff;
  top: 0px;
  left: -18px;
  font-size: 7px;
  z-index: 9999;
  background: #f00;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  text-align: center;
}
.add {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  color: #000;
  text-align: center;
  position: relative;
  top: 2px;
  left: 12px;
  font-size: 30px;
  line-height: 40px;
}
.circle {
  width: 10px;
  height: 10px;
  position: absolute;
  background: #f00;
  border-radius: 100%;
  left: -20px;
  border: 2px solid #20242a;
  display: block;
}
