* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  font: inherit;
}
html,
body {
  height: 100%;
}
html {
  background: #f0f0f0;
}
body {
  font-family: "Apple SD Gothic Neo", 'Noto Sans KR', "Noto Sans CJK KR", "Helvetica Neue", sans-serif;
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  background: #20242a;
  margin: auto;
  color: #fff;
  font-size: 14px;
  width: 400px;
}
[flex] {
  flex: 1;
}
main {
  flex: 1;
}
main ui-scrollview {
  height: 8000%;
  background: #20242a;
}
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  width: 400px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  height: 96px;
  background: #20242a url("../imgs/footer.png") no-repeat;
  background-size: contain;
}
ui-scrollview {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  position: relative;
}
section.kms {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
section.kms h1 {
  position: absolute;
  font-size: 54px;
  font-weight: 600;
  color: #ccc;
  opacity: 0.2;
  left: 0;
  right: 0;
  margin-bottom: -70px;
  text-align: right;
}
section.line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 48px;
  width: 6px;
  background-image: linear-gradient(rgba(255,255,255,0.2) 60%, rgba(255,255,255,0) 0%);
  background-position: right;
  background-size: 6px 72px;
  background-repeat: repeat-y;
}
section.todo {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, 24px 1fr 24px);
  grid-template-rows: auto;
  left: 0;
  right: 0;
}
section.todo .icon {
  grid-column-start: 2;
  grid-column-end: 3;
}
section.todo .icon >div {
  width: 40px;
  margin: auto;
  position: relative;
  white-space: nowrap;
  text-align: center;
}
section.todo .icon >div:before {
  content: " ";
  display: block;
  padding-top: 100%;
}
section.todo .icon >div >div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
section.todo .icon >div >svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
section.todo .date {
  grid-column-start: 4;
  grid-column-end: 8;
}
section.todo .km {
  grid-column-start: -5;
  grid-column-end: -2;
  text-align: right;
}
section.todo .box {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-column-start: 4;
  grid-column-end: -1;
  padding: 12px 24px 12px 12px;
  background: #555;
  border-radius: 8px 0 0 8px;
  color: #fff;
  font-size: 12px;
}
section.todo .box h1 {
  grid-column-start: 4;
  grid-column-end: -2;
  margin-left: 12px;
}
section.todo .box p {
  text-align: right;
  font-size: 10px;
  color: #999;
}
section.current-line {
  position: fixed;
  bottom: 100px;
  width: 400px;
  height: 1px;
  left: 50%;
  transform: translateX(-50%);
  border-top: 1px solid #ffa500;
}
section.current-line .km {
  position: absolute;
  left: 0;
  bottom: 50%;
  text-align: right;
  color: #ffa500;
  background: #20242a;
  padding: 8px;
  height: 24px;
  width: 18%;
  margin-bottom: -6px;
  margin-left: 12px;
  white-space: nowrap;
}
section.current {
  position: fixed;
  bottom: 80px;
  width: 400px;
  height: 80px;
  left: 50%;
  transform: translateX(-50%);
}
section.current section.todo {
  grid-template-rows: auto;
}
section.current section.todo .icon>div,
section.current section.todo .box {
  background-color: #fff;
  color: #000;
}
@media (max-width: 767px) {
  body,
  section.current,
  section.current-line,
  footer {
    width: 100%;
  }
}
