@import core

$background = #20242a


*
  margin 0
  padding 0
  box-sizing border-box

*
  //outline 1px solid #4f80ff
  font inherit

html, body
  height 100%

html
  background #f0f0f0

body
  font-family "Apple SD Gothic Neo", 'Noto Sans KR', "Noto Sans CJK KR", "Helvetica Neue", sans-serif
  font-size 14px
  color #fff

body
  position relative
  vbox()
  background $background
  margin auto
  width 400px

[flex]
  flex 1


main
  flex 1

  ui-scrollview
    height 8000%;
    background $background


footer
  hbox()
  position fixed
  width 400px
  left 50%
  transform translateX(-50%)
  bottom 0
  height 96px
  background $background url(../imgs/footer.png) no-repeat
  background-size contain
  border-top 1px solid orange;
  z-index 999999


ui-scrollview
  vbox()
  position relative


section.kms
  layer()
  text-align center

  h1
    position absolute
    font-size 54px
    font-weight 600
    color #ccc
    opacity 0.2
    left 0
    right 0
    margin-bottom -70px
    text-align right
    letter-spacing -0.05em
    margin-right 8px

section.line
  position absolute
  top 0
  bottom 0
  left 42px
  width 6px
  background-image: linear-gradient(rgba(255, 255, 255, .2) 60%, rgba(255, 255, 255, 0) 0%);
  background-position: right;
  background-size: 6px 72px;
  background-repeat: repeat-y;
  z-index 0


section.todo
  position absolute
  display grid
  grid-template-columns repeat(4, 24px 1fr 24px)
  grid-template-rows auto
  left 0
  right 0

  .icon
    grid-column-start 2
    grid-column-end 3

    > div
      width 40px
      ratio(1, 1)
      margin auto
      //background orange
      //border-radius 50%
      position relative
      white-space nowrap
      text-align center

      > div
        layer()
        hbox()

      > svg
        position absolute
        top 50%
        left 50%
        transform translate3d(-50%, -50%, 0)

  .date
    grid-column-start 4
    grid-column-end 8

  .km
    grid-column-start -5
    grid-column-end -2
    text-align right

  .km-left
    grid-column-start 1
    grid-column-end 4
    text-align center

  .box
    //display contents
    hbox()
    grid-column-start 4
    grid-column-end -1
    padding 12px 24px 12px 12px
    background #353535
    border-radius 8px 0 0 8px
    color #fff
    font-size 12px

    h1
      grid-column-start 4
      grid-column-end -2
      margin-left 12px
      position relative

    p
      text-align right
      font-size 10px
      color #999

  &[new]
    h1
      color orange


section.log
  position relative
  grid-template-rows 32px 32px minmax(50px, auto)
  //margin 40px 0 60px

  .icon
    grid-column-start 1
    grid-column-end 3

  //  //> div
  //  //  background #353535
  //  //  border-radius 50%


  .box
    border-radius 0 0 0 0


  .body
    background #2f2f2f
    grid-column-start 4
    grid-column-end -1
    padding 16px 24px
    font-size 12px
    border-radius 0 0 0 8px

    h1
      font-size 16px

  .memo
    margin-top 16px
    opacity 0.5




section.current-line
  position absolute
  bottom 22.08%
  height 1px
  left 0
  right 0
  border-top 1px solid orange;
  z-index 9999

  .km
    position absolute
    left 0
    bottom 50%;
    text-align right
    color orange;
    background $background
    padding 8px
    height 24px
    margin-bottom -6px
    margin-left 12px
    white-space nowrap

section.current
  position fixed
  bottom 96px
  width 400px
  height 80px
  left 50%
  transform translateX(-50%)
  z-index 9999
  padding-top 16px

  section.todo
    grid-template-rows auto

    .box
      position relative
      background-color #fff
      color #000
      grid-column-start 4
      grid-column-end -2
      border-radius 8px

      & .tri
        position absolute
        right 100%


.tri
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 8px 4px 0;
  border-color: transparent #ffffff transparent transparent;

+mobile()
  html, body
    background $background

  body
  section.current
  section.current-line
  footer
    width 100%


section.logs
  position absolute
  left 0
  right 0
  top 77.92%
  bottom 0
  background $background

  section.line
    position absolute
    top 0
    bottom 0
    left 80px
    width 6px
    background none
    border-right: 1px solid #ccc;
    z-index 0


.day
  position relative
  margin-top 50px

  h1
    position relative
    //padding 13px 64px
    z-index 100
    text-align right
    font-size 28px

    span
      //background #222
      padding 13px


  .hline
    position absolute
    border-bottom 2px solid rgba(255, 255, 255, .3);
    top 50%
    left 0
    right 0


.report
  position relative
  border-top 2px solid #ccc
  border-bottom 2px solid #ccc
  background $background
  padding 24px
  text-align center
  z-index 100
  hbox()
  flex-wrap wrap

  h2
    border-radius 20px
    padding 10px 20px
    background #999
    color #fff
    position absolute
    top -18px
    left 50%
    transform translateX(-50%)

  >section
    width 33.33%
    margin 16px 0

    h1
      font-size 12px
      margin-bottom 12px
      color #ccc

    div
      font-size 18px

.tip
  bottom: 31%;
  position: absolute;
  background: #5ab75f;
  padding: 20px;
  left: 80px;
  border-radius: 16px;
  border: 2px solid #fff;
  right: 8px;

  h1
    font-size 18px
    margin-bottom 12px


.unknown
  position absolute
  color: #777;
  top: -4px;
  right: -6px;
  font-size: 7px;