@import core

$background = #20242a
$top = 72px

*
  margin 0
  padding 0
  box-sizing border-box

*
  //outline 1px solid #4f80ff
  font inherit
  user-select none
  -webkit-user-select none

html, body
  height 100%

html
  background #f0f0f0

body
  font-family "Apple SD Gothic Neo", 'Noto Sans KR', "Noto Sans CJK KR", "Helvetica Neue", sans-serif
  font-size 14px
  font-weight bold
  color #fff

body
  position relative
  vbox()
  background $background
  margin auto
  width 400px

[flex]
  flex 1


main
  flex 1

  ui-scrollview
    height 8000%;
    background $background


footer
  hbox()
  position fixed
  width 400px
  left 50%
  transform translateX(-50%)
  top 0
  height 48px
  background $background
  background-size contain
  //border-top 1px solid orange;
  z-index 999999999


ui-scrollview
  vbox()
  position relative


section.kms
  layer()
  text-align center

  h1
    position absolute
    font-size 54px
    font-weight 600
    color #ccc
    opacity 0.2
    left 0
    right 0
    margin-bottom -70px
    text-align right
    letter-spacing -0.05em
    margin-right 8px

section.line
  position absolute
  top 0
  bottom 0
  left 72px
  width 4px
  background-image: linear-gradient(orange 60%, rgba(255, 255, 255, 0) 0%);
  background-position: right;
  background-size: 6px 72px;
  background-repeat: repeat-y;
  z-index 0
  margin-left -2px


section.todo
  position absolute
  display grid
  grid-template-columns 72px repeat(4, 16px 1fr 16px)
  grid-template-rows auto
  left 0
  right 0

  .icon
    position relative
    grid-column-start 1
    grid-column-end 2

    .cur-km
      position absolute
      color orange
      left 0
      right 0
      bottom 100%
      text-align center


  .km-left
    grid-column-start 1
    grid-column-end 2
    text-align center
    position relative
    border-bottom 2px solid #fff

    span
      position absolute
      bottom 0
      left 0
      right 0
      text-align center

  .box
    //display contents
    position relative
    hbox()
    grid-column-start 3
    grid-column-end -1
    padding 12px 24px 12px 12px
    background #353535
    border-radius 8px 0 0 8px
    color #fff
    font-size 14px
    min-height 32px

    h1
      flex 1
      margin-left 8px
      position relative

    p
      text-align right
      font-size 10px
      color #999

  &[new]
    h1
      color orange


section.log
  position relative
  margin-bottom 24px

  .icon
    grid-column-start 1
    grid-column-end 2

  .km
    grid-column-start 1
    grid-column-end 2
    text-align center
    display flex
    font-size 11px
    >div
      margin auto


  .box
    border-radius 0 0 0 0


  .body
    background #2f2f2f
    grid-column-start 3
    grid-column-end -1
    padding 12px 24px
    font-size 14px
    border-radius 0 0 0 8px

    h1
      font-size 14px
      color #999

  .memo
    margin-top 16px
    opacity 0.5
    display none




section.current-line
  position relative
  //bottom 22.08%
  height 60px
  left 0
  right 0
  border-top 1px solid orange;
  z-index 9999

  .km
    position absolute
    left 0
    bottom 100%;
    color orange;
    background $background
    height 24px
    line-height 24px
    margin-bottom 1px
    white-space nowrap
    width 74px
    text-align center

section.current
  position fixed
  bottom 0
  width 400px
  height 80px
  left 50%
  transform translateX(-50%)
  z-index 999999999
  padding-top 16px

  .icon
    > div
      width 40px
      ratio(1, 1)
      margin auto
      //background orange
      //border-radius 50%
      position relative
      white-space nowrap
      text-align center

      > div
        layer()
        hbox()

      > svg
        position absolute
        top 50%
        left 50%
        transform translate3d(-50%, -50%, 0)

  section.todo
    grid-template-rows auto

    .box
      position relative
      background-color #fff
      color #000
      grid-column-start 3
      grid-column-end -2
      border-radius 8px

      h1
        margin-right 24px
        border-right 1px solid #000

      & .tri
        position absolute
        right 100%


.tri
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 8px 4px 0;
  border-color: transparent #ffffff transparent transparent;

+mobile()
  html, body
    background $background

  body
  section.current
  section.current-line
  footer
    width 100%


section.logs
  position absolute
  left 0
  right 0
  top 60%
  border-bottom 1px solid #ccc;
  z-index 9999999
  padding-bottom 32px
  background $background

  section.line
    position absolute
    top 380px

    bottom 32px
    left 72px
    width 4px
    background #ccc
    z-index 0
    margin-left -2px


.day
  position relative
  margin-top 50px

  h1
    position relative
    //padding 13px 64px
    z-index 100
    text-align right
    font-size 28px

    span
      //background #222
      padding 13px


  .hline
    position absolute
    border-bottom 2px solid rgba(255, 255, 255, .3);
    top 50%
    left 0
    right 0


.report
  position relative
  border 2px solid #ccc
  background #3244bd
  border-radius 8px
  padding 24px
  text-align center
  z-index 100
  hbox()
  flex-wrap wrap
  margin 4px
  padding-top 64px;
  margin-top 60px

  h2
    border-radius 20px
    padding 16px 24px
    color #fff
    position absolute
    top 8px
    left 50%
    transform translateX(-50%)
    font-size 18px

  >section
    width 33.33%
    margin 16px 0

    h1
      font-size 14px
      margin-bottom 12px
      color #ccc

    div
      font-size 18px

.tip
  bottom: 31%;
  position: absolute;
  background: #5ab75f;
  padding: 20px;
  left: 88px;
  border-radius: 16px;
  border: 2px solid #fff;
  right: 8px;

  h1
    font-size 18px
    margin-bottom 12px


.unknown
  position: absolute;
  color: #fff;
  top: 0px;
  left: -15px;
  font-size: 7px;
  z-index: 9999;
  background: red;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  text-align: center;


.add
  width: 48px;
  height: 48px;
  border-radius: 50%;
  color: #000;
  text-align: center;
  position: absolute;
  top 0
  right: 0
  font-size: 30px;
  line-height: 48px;


.circle
  width: 20px;
  height: 20px;
  position: absolute;
  background: red;
  border-radius: 100%;
  left: -26px;
  border: 4px solid $background;
  display: block;

  &.orange
    background orange

  &.blue
    background #3244bd


section.reminder
  margin-bottom 8px
  .box
    grid-column-start 1
    background orangered
    margin-left 48px

    *
      color #fff !important



[hbox]
  hbox()


