* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  font: inherit;
  user-select: none;
  -webkit-user-select: none;
}
html,
body {
  height: 100%;
}
html {
  background: #f0f0f0;
}
body {
  font-family: "Apple SD Gothic Neo", 'Noto Sans KR', "Noto Sans CJK KR", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: #000;
}
body {
  position: relative;
  background: #fff;
  margin: auto;
}
@media (min-width: 1024px) {
  body {
    width: 414px;
  }
}
input {
  border: 0;
  outline: 0;
  color: inherit;
  font: inherit;
}
[flex],
flex {
  flex: 1;
}
main {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  position: relative;
  height: 100%;
  overflow: hidden;
}
[grid] {
  display: grid;
  grid-template-columns: repeat(8, 8px 1fr 8px);
}
[grid-all] > * {
  display: grid;
  grid-template-columns: repeat(8, 8px 1fr 8px);
}
main.main {
  background-color: #202329;
}
main.main section.line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 72px;
  width: 4px;
  background-image: linear-gradient(#ffa500 50%, rgba(255,255,255,0) 0%);
  background-position: right;
  background-size: 6px 72px;
  background-repeat: repeat-y;
  z-index: 0;
  margin-left: -2px;
}
main.main section.line.log {
  background: #29be9b;
}
.space-half-page {
  min-height: 50vmax;
}
.alert-divider {
  background: #fff;
  letter-spacing: -0.9px;
  font-style: 16px;
  font-weight: bold;
  text-align: center;
  color: #2f2f2f;
  height: 56px;
  line-height: 56px;
  position: relative;
  z-index: 1;
}
section.km-pages {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: stretch;
}
section.km-pages .kms {
  opacity: 0.1;
  color: #fff;
  font-size: 44px;
  text-align: right;
  font-weight: bold;
  letter-spacing: -2.64px;
  font-family: Roboto;
  margin-top: -10px;
  position: absolute;
  right: 0;
  top: 100%;
}
section.km-pages .left-kms {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 13px;
  color: #ffaa21;
  text-align: center;
  width: 72px;
}
section.km-pages h1.date {
  color: #fff;
  text-align: right;
  margin-right: 10px;
  margin-top: 52px;
  font-size: 18px;
  font-weight: bold;
}
section.reminder {
  position: relative;
  min-height: 55px;
  border-radius: 4px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.27);
  background-color: #fff;
  margin: 10px 0;
  margin-left: 90px;
  color: #2f2f2f;
}
section.reminder.right {
  background-image: linear-gradient(to bottom, #ef6837, #ffaa21);
  color: #fff;
}
section.reminder .divider {
  border-bottom: 1px solid #ccc;
  margin-left: 40px;
}
section.reminder > section {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 55px;
  padding: 0 10px;
  align-items: center;
}
section.reminder .icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
section.reminder h1 {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -0.84px;
  grid-column: 3/-1;
}
section.reminder h2 {
  font-size: 12px;
  letter-spacing: -0.72px;
  opacity: 0.3;
  grid-column: -2/-2;
  justify-self: end;
}
footer.my-car {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: auto;
  height: 116px;
  background: linear-gradient(0, #202329, transparent);
  z-index: 9999;
}
footer.my-car .background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(12px);
  background-color: #202329;
}
footer.my-car .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  padding-left: 72px;
  padding-top: 9px;
  padding-bottom: 45px;
  color: #fffcfc;
  height: 116px;
}
footer.my-car h1 {
  height: 24px;
  font-size: 18px;
  font-weight: bold;
}
footer.my-car p {
  display: flex;
  flex-direction: row;
  align-items: center;
  opacity: 0.5;
  font-size: 12px;
}
footer.my-car p > svg {
  margin-right: 5px;
}
footer.my-car .line {
  position: absolute;
  left: 51px;
  right: 0;
  top: 42px;
  height: 2px;
  background: #fff;
}
footer.my-car .btn-car {
  position: absolute;
  left: 0;
  top: 0;
  width: 72px;
  height: 100px;
  background: url("../imgs/car2.png") no-repeat center 10px;
  background-size: 50% auto;
}
footer.my-car .btn-plus {
  position: absolute;
  right: -10px;
  top: 9px;
  width: 66px;
  height: 66px;
  backdrop-filter: blur(15px);
  box-shadow: 0 1.5px 3px 0 rgba(0,0,0,0.16);
  background-color: #fff;
  border-radius: 50%;
}
footer.my-car .btn-plus .icon-plus-h,
footer.my-car .btn-plus .icon-plus-v {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ccc;
  width: 5px;
  height: 5px;
  background-image: linear-gradient(to bottom, #14ffa4, #11cbc4);
}
footer.my-car .btn-plus .icon-plus-h {
  height: 20px;
}
footer.my-car .btn-plus .icon-plus-v {
  width: 20px;
}
section.contents {
  position: relative;
}
ui-scrollview {
  position: relative;
  display: block;
  overflow: scroll;
  overflow-scrolling: touch;
}
ui-top-app-bar {
  height: 80px;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1);
  background-image: linear-gradient(102deg, #1dd87b, #11cbc4);
  font-weight: bold;
  letter-spacing: -0.54px;
  color: #fff;
  font-size: 18px;
  grid-template-rows: 1fr 2fr;
}
ui-top-app-bar > * {
  align-self: center;
  grid-row: 2;
}
ui-top-app-bar svg {
  grid-column: 2/3;
}
ui-top-app-bar h1 {
  grid-column: 4/-1;
}
.title {
  font-family: NotoSansCJKkr;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -1px;
  text-align: left;
  color: #2f2f2f;
  grid-column: 4/-4;
}
h1.title {
  margin: 48px 0;
}
h2.title {
  font-size: 14px;
}
.form {
  grid-row-gap: 10px;
}
.form + .form {
  margin-top: 40px;
}
.form > * {
  grid-column: 4/-4;
}
.form label {
  display: block;
  border-bottom: 1px solid #ddd;
  color: #29be9b;
  font-size: 16px;
  padding: 10px 0;
  grid-row: 2;
}
.form button {
  width: 108px;
  height: 34px;
  border-radius: 4px;
  border: solid 2px #45a2ff;
  background-color: #fff;
  color: #45a2ff;
  justify-self: end;
  grid-column: -5/auto;
  grid-row: 2;
}
