<web-component name="ai-app">

	<template>
		<main>
			<section *if="!isstart">
				<h1 style="margin: auto">Mission English</h1>
				<h1 style="margin: auto">start to click</h1>
			</section>

			<section [hidden]="!isstart">
				<div class="prev_ask" [class.me]="prev_ask_turn_me" style="padding: 16px">In Cafe</div>

				<section flex hbox>
					<h2 class="msg" [class.isfinal]="isFinal" style="margin: auto">{{ text1 }}{{isFinal ? '?' : '' }}
						<cursor class="blink" [hidden]="isFinal"></cursor>
					</h2>
				</section>

				<section vbox style="height: 200px">
					<div class="" [class.me]="" style="text-align: center">"{{ prev_ask }}"</div>
					<br>
					<h2 class="hint" style="">{{ hint }}</h2>
				</section>

				<mic-wave $wave></mic-wave>
			</section>
		</main>
	</template>

	<script>$module.component("ai-app", function(STT) {

		function capitalize(str) {
			return str[0].toUpperCase() + str.slice(1);
		}

		let DB = [
			["What can I get for you?", "무엇을 도와드릴까요?"],
			["I’d like an americano, please.", "아메리카노 한 잔 주세요."],
			["What size would you like?", "어떤 사이즈로 드릴까요?"],
			["A small, please.", "작은 걸로 주세요."],
			["Anything else besides the drink?", "음료 말고 다른 거 필요하신 거 있으세요?"],
			["No, thanks. That’s all.", "괜찮아요. 그게 다에요."],
		];

		return class AIApp {
			init($) {
				this.isstart = false;
				this.text1 = "";
				this.isFinal = false;

				this.ask = "";
				this.text1 = "";

				this.stage = 0;

				$.on$(document, ["mousedown", "touchstart"], true).take(1).subscribe(() => this.start());
			}

			start() {
				this.isstart = true;
				this.$wave.start();

				this.stt = STT(event => {
					console.log(event.resultIndex, event.results);
					let results = Array.from(event.results[event.resultIndex]);
					let ret = results[0];

					this.text1 = capitalize(ret.transcript);
					this.isFinal = event.results[event.resultIndex].isFinal;

					if (this.isFinal) {
						this.stop();
					}
				});


				this.next();
			}

			stop() {
				this.hint = this.original_hint;
				clearInterval(this.timer);
				this.timer = null;

				this.stt.stop();

				setTimeout(() => {
					this.stt.start();
					this.next();
				}, 2000)
			}


			next() {
				let [en, ko] = DB[this.stage++];

				this.prev_ask = ko;
				this.text1 = "";
				this.isFinal = false;

				this.hint = "";
				this.original_hint = en;
				this.hint = this.original_hint.replace(/[a-zA-Z]/g, "_");


				setTimeout(() => {

					let index = 0;
					this.timer = setInterval(() => {

						index++;
						this.hint = this.original_hint.slice(0, index) + this.hint.slice(index);

					}, 250);


				}, 3000);


			}


		}.prototype;


	});
	</script>
</web-component>


<web-component name="mic-wave">
	<template>
		<canvas $canvas width="375" height="150"></canvas>
	</template>
</web-component>


<script>$module.component("mic-wave", function() {

	return class MicWave {

		init($) {
			console.log(this.$canvas);
		}

		start() {
			navigator.getUserMedia({audio: true}, (stream) => {
					this.start_microphone(stream);
				},
				function(e) {
					alert('Error capturing audio.');
				}
			);
		}

		start_microphone(stream) {
			let canvas = this.$canvas;
			let ctx = canvas.getContext("2d");

			let audioContext = new AudioContext();
			let microphone_stream = audioContext.createMediaStreamSource(stream);

			let analyser_node = audioContext.createAnalyser();
			analyser_node.smoothingTimeConstant = 0;
			analyser_node.fftSize = 2048;

			microphone_stream.connect(analyser_node);


			let array_freq_domain = new Uint8Array(2048);

			function draw() {
				requestAnimationFrame(draw);

				analyser_node.getByteTimeDomainData(array_freq_domain);
				ctx.clearRect(0, 0, canvas.width, canvas.height);

				let HEIGHT = canvas.height;
				let sliceWidth = 1;
				let x = 0;

				ctx.beginPath();
				ctx.lineWidth = 1;
				ctx.strokeStyle = "#555";

				for (let i = 0; i < canvas.width; i++) {

					let v = array_freq_domain[i] / 128.0;
					let y = v * HEIGHT / 2;

					if (i === 0) {
						ctx.moveTo(x, y);
					} else {
						ctx.lineTo(x, y);
					}

					x += sliceWidth;
				}

				ctx.stroke();
			}

			draw();
		}
	}.prototype;
});


$module.factory("STT", function() {

	return function mic(fn) {
		window.SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;

		let recognition = new SpeechRecognition();
		recognition.continuous = true;
		recognition.interimResults = true;
		recognition.maxAlternatives = 10;
		recognition.lang = 'en-US';

		console.log(recognition);

		recognition.onnomatch = function(event) {
			console.log("onnomatch");
		}

		recognition.onresult = function(event) {
			console.log(event.resultIndex, event.results);
			fn(event);
		};

		recognition.onsoundstart = function(event) {
			console.log("onsoundstart");
		};

		recognition.onsoundend = function(event) {
			console.log("onsoundend");
		};

		recognition.onspeechstart = function(event) {
			console.log("onspeechstart");
		};

		recognition.onspeechsend = function(event) {
			console.log("onspeechend");
		};

		let x = recognition.start();

		return recognition;
	}
});


function speakSound(msg) {
	let url = "https://ai-tutor-lg-ai.appspot.com/tts?text=" + encodeURIComponent(msg);

	let audio = document.createElement('audio');
	audio.style.display = "none";
	audio.src = url;
	audio.autoplay = true;
	audio.onended = function() {
		audio.remove() //Remove when played.
	};
	document.body.appendChild(audio);
}
</script>

</web-component>