[hidden] {
  display: none !important;
}
flex,
[flex] {
  flex: 1;
}
[hbox] {
  display: flex;
}
[vbox] {
  display: flex;
  flex-direction: column;
}
flex {
  display: flex;
}
* {
  font: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  font-family: "Apple SD Gothic Neo", 'Noto Sans KR', "Noto Sans CJK KR", "Helvetica Neue", sans-serif;
  font-weight: 200;
  line-height: 1.55;
  overflow: hidden;
}
main {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: auto;
  background: #fff;
}
main content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  background: #000;
}
@media (min-width: 768px) {
  body {
    background: #fafafa;
  }
  main {
    width: 480px;
    height: 960px;
    max-height: calc(100% - 140px);
    border-radius: 36px;
    box-shadow: 0 0 32px rgba(0,0,0,0.2), 0 12px 24px rgba(0,0,0,0.5);
    box-sizing: content-box;
    border: 16px solid #fff;
    border-top-width: 60px;
    border-bottom-width: 60px;
  }
  main:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(128,128,128,0.5);
    border-radius: 10px;
  }
}
ai-agent {
  position: relative;
}
.msg {
  position: absolute;
  text-align: left;
  padding: 40px 30px;
  width: 100%;
  color: #fff;
  font-size: 40px;
  font-weight: 200;
  min-height: 40px;
}
.msg.me {
  width: 100%;
  margin: auto;
  text-align: right;
  transform-origin: 100% 50%;
  transform: translate(0, -50%);
  color: #ccc;
}
.msg.me.isfinal {
  color: #fff;
}
.msg {
  color: #fff;
  top: 40%;
  transform-origin: 0 0;
  transform: translate(0, -50%);
}
.msg[who="me"] {
  transform-origin: 100% 0;
  text-align: right;
}
.msg[state="done"] {
  transition: top 1s, transform 1s;
  top: 0;
  transform: translate(0, 0) scale(0.6);
}
.msg[state="prev"] {
  transition: top 1s, transform 1s;
  top: 0;
  transform: translate(0, -100%) scale(0.6);
}
ui-speech-to-text .msg {
  top: 55%;
}
mic-wave {
  display: flex;
  width: 100%;
  height: 50%;
  z-index: 0;
}
mic-wave section {
  display: flex;
  margin: auto;
  position: relative;
}
mic-wave section div {
  opacity: 1;
  transition: opacity 0.5s;
  background: #e84991;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin: auto 7px;
}
mic-wave [state="final"] div {
  opacity: 0;
}
mic-wave [state="nomatch"] div {
  animation: shake 0.5s;
}
[state="listen"] .c1 {
  animation: updown ease-out 0.65s infinite alternate;
}
[state="listen"] .c2 {
  animation: updown ease-out 0.65s 0.2s infinite alternate;
}
[state="listen"] .c3 {
  animation: updown ease-out 0.65s 0.4s infinite alternate;
}
[state="listen"] .c4 {
  animation: updown ease-out 0.65s 0.6s infinite alternate;
}
mic-wave .d1,
mic-wave .d2,
mic-wave .d3 {
  display: flex;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  background: rgba(0,0,0,0.05);
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  margin: auto;
}
mic-wave .d2 {
  width: 90%;
  height: 90%;
}
mic-wave .d3 {
  width: 90%;
  height: 90%;
}
ai-message {
  display: block;
}
ui-speech-to-text,
ui-speech-shadowing {
  display: flex;
  margin: auto;
  width: 100%;
  overflow: hidden;
  transition: opacity 1s 0.15s;
  opacity: 0;
}
ui-speech-to-text.listen,
ui-speech-shadowing.listen {
  opacity: 1;
}
ui-speech-to-text .transcript,
ui-speech-shadowing .transcript {
  color: #ccc;
  font-style: italic;
}
ui-speech-to-text .transcript.isfinal,
ui-speech-shadowing .transcript.isfinal {
  color: #fff;
}
.tts-word {
  display: inline-block;
  white-space: pre;
  transition: all 0.5s;
  opacity: 0;
  transform: translate3d(15px, 0, 0);
}
.tts-word-animation {
  transition: all 0.5s;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
animated-dialog {
  display: block;
}
animated-dialog p {
  transition: opacity 1s, top 1s, transform 1s;
  opacity: 0;
  white-space: pre-line;
}
animated-dialog p:nth-child(1) {
  top: 0;
  transform: translate(0, -100%) scale(0.6);
  opacity: 1;
}
animated-dialog p:nth-child(2) {
  top: 0;
  transform: translate(0, 0) scale(0.6);
  opacity: 0.5;
}
animated-dialog p:nth-child(3) {
  transform: translate(0, -50%) scale(1);
  opacity: 0.5;
}
.msg .caption {
  display: block;
  font-size: 22px;
  margin-top: 12px;
  color: #3434a5;
  transition: 1s opacity 0.5s;
  opacity: 0;
}
.msg .caption.show {
  opacity: 1;
}
ui-speech-to-text {
  white-space: pre-wrap;
}
.guide-text {
  text-align: center;
  width: 100%;
  font-size: 28px;
  color: #fff;
  padding: 0 30px;
}
.hint-text {
  text-align: center;
  width: 100%;
  font-size: 40px;
  color: #aaa;
  padding: 0 30px;
  margin: 14px auto;
}
.hint-text[type="option"],
.hint-text.option {
  margin: 40px auto;
  font-size: 28px;
  color: #aaa;
  line-height: 2;
}
ai-agent {
  display: flex;
  width: 100%;
  height: 100%;
}
ui-mission {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
ui-background {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center -190px;
  background-image: url("../imgs/a9139e165a9192dd3935c83091590af0.jpg");
  background-size: cover;
}
ui-background.overlay {
  background-image: linear-gradient(rgba(255,255,255,0.1), #fff);
}
ui-background.overlay section {
  display: flex;
  flex-direction: column;
  padding: 32px;
  height: 100%;
  text-align: left;
}
ui-background.overlay section #desc-p p {
  margin: 4px 0;
}
ui-background.overlay section #desc-p p[lang=en] {
  font-size: 28px;
}
ui-background.overlay section #desc-p p[lang=ko] {
  color: #555;
  font-size: 20px;
}
ui-background.overlay section h1 {
  margin: 14px 0;
  text-align: left;
  font-weight: 400;
  font-size: 40px;
}
ui-background.overlay section div.invoke {
  text-align: center;
  padding: 32px;
  margin-top: 64px;
  margin-bottom: 16px;
}
ui-background.overlay section div.invoke h2 {
  margin: 4px 0;
  font-size: 18px;
  color: #666;
}
ui-background.overlay section div.invoke > p {
  font-size: 32px;
}
#mission-bg {
  transition: all 1s;
}
#mission-bg #desc-title,
#mission-bg #desc-p {
  transition: all 1.5s;
  opacity: 0;
}
#mission-bg .invoke {
  transition: all 1s;
  opacity: 0;
}
ui-feedback {
  background: #fff;
  transition: all 1s;
  opacity: 0;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 28px;
}
ui-feedback > section {
  margin: auto 32px;
  padding: 16px;
  text-align: center;
}
ui-feedback img {
  display: block;
  width: 80%;
  margin: 32px auto;
}
ui-feedback p {
  margin: 16px 0;
}
ui-feedback p[lang="ko"] {
  color: #666;
  font-size: 20px;
}
span.ok {
  color: #000;
}
ui-script-editor {
  width: 50%;
  height: 100%;
}
ui-script-editor textarea {
  display: block;
  width: 100%;
  height: 100%;
  padding: 8px;
  font-size: 16px;
  line-height: 1.5;
  background: #000;
  color: #fff;
  outline: 0;
  border: 0;
}
@-moz-keyframes shake {
  0% {
    transform: translate(-3px, 0);
  }
  25% {
    transform: translate(3px, 0);
  }
  50% {
    transform: translate(-3px, 0);
  }
  100% {
    transform: translate(0px, 0);
  }
}
@-webkit-keyframes shake {
  0% {
    transform: translate(-3px, 0);
  }
  25% {
    transform: translate(3px, 0);
  }
  50% {
    transform: translate(-3px, 0);
  }
  100% {
    transform: translate(0px, 0);
  }
}
@-o-keyframes shake {
  0% {
    transform: translate(-3px, 0);
  }
  25% {
    transform: translate(3px, 0);
  }
  50% {
    transform: translate(-3px, 0);
  }
  100% {
    transform: translate(0px, 0);
  }
}
@keyframes shake {
  0% {
    transform: translate(-3px, 0);
  }
  25% {
    transform: translate(3px, 0);
  }
  50% {
    transform: translate(-3px, 0);
  }
  100% {
    transform: translate(0px, 0);
  }
}
@-moz-keyframes updown {
  0% {
    transform: translate(0, 0px);
  }
  90% {
    transform: translate(0, -10px);
  }
  100% {
    transform: translate(0, -10px);
  }
}
@-webkit-keyframes updown {
  0% {
    transform: translate(0, 0px);
  }
  90% {
    transform: translate(0, -10px);
  }
  100% {
    transform: translate(0, -10px);
  }
}
@-o-keyframes updown {
  0% {
    transform: translate(0, 0px);
  }
  90% {
    transform: translate(0, -10px);
  }
  100% {
    transform: translate(0, -10px);
  }
}
@keyframes updown {
  0% {
    transform: translate(0, 0px);
  }
  90% {
    transform: translate(0, -10px);
  }
  100% {
    transform: translate(0, -10px);
  }
}
